@font-face 
{
    font-family: 'ralewaythin';
    src: url('polices/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('polices/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 body 
{
    width: 1450px;
    font-family: 'ralewaythin' ;
    margin: auto;
    text-align: justify    
}


/*en tete*/

div h1
{
    font-size: 1.5em;
}
div h2 
{
    font-size: 1.2em;
}
nav
{
    display: flex;
    padding-bottom: 30px;
        
}
nav ul
{
    display: flex;
    list-style-type: none;
    padding-left: 1000px;
     
}
nav li
{
    
    border-top: 3px solid transparent;
    padding: 20px;
    padding-top: 50px;
}
nav a
{
    font-size: 1em;
    color:black;
    padding-bottom: 3px;
    text-decoration: none;
    margin-top: 10px;
}
nav li:hover
{
    color: #0065fc;
    border-top: 3px solid#0065fc; 
}
@media all and (max-device-width:375px)
{
    body 
    {
        width: 375px;
        margin: 0px;
    }


    h1
    {
        font-size: 1.7em;
    }
    nav
    {
       flex-direction: column;
    }
    nav ul
    {
        padding-left: 0;
        font-size:1.8em ;

    }
    nav li
    {
        border-bottom: 3px solid transparent;
        padding-bottom: 20px;
    }
    nav li:hover
    {
        border-top: 3px solid transparent;
        border-bottom: 3PX solid #0065fc;
    }
    nav a:hover
    {
        color: #0065fc;
    }
    #logo_titre
    {
        width: 250px;
        height: 70px;

    }
    .navigation
    {
        
        width: 375px;
        padding-top:-130px ;
        text-align: center;
        margin-left:20px ;
        font-size: large;
    }   
    .inscription
    {
        position: absolute;
        margin-left: 250px;
        margin-top: -140px;
        font-size: 0.7em;    
    }

    .inscription:hover
    {
        border-bottom:3px solid transparent ;
        color: #0065fc;
    }
    .inscription>a
    {
        color: #0065fc;
    }


   
}
@media (min-device-width:376px) and (max-device-width:450px)
{
    body 
    {
        width: 430px;
        margin: 0px;
    }


    h1
    {
        font-size: 1.7em;
    }
    nav
    {
       flex-direction: column;
    }
    nav ul
    {
        padding-left: 0;
        font-size:1.8em ;

    }
    nav li
    {
        border-bottom: 3px solid transparent;
        padding-bottom: 20px;
    }
    nav li:hover
    {
        border-top: 3px solid transparent;
        border-bottom: 3PX solid #0065fc;
    }
    #logo_titre
    {
        width: 250px;
        height: 70px;

    }
    .navigation
    {
        
        width: 375px;
        padding-top:-130px ;
        text-align: center;
        margin-left:20px ;
        font-size: large;
    }   
    .inscription
    {
        position: absolute;
        margin-left: 250px;
        margin-top: -140px;
        font-size: 0.7em;    
    }

    .inscription:hover
    {
        border-bottom:3px solid transparent ;
        color: #0065fc;
    }

   
}


.title
{
    margin-top: 5px;
    
    color: white;
}

#filtres 
{
   display: flex;
   flex-wrap: wrap;    
}
.icone
{
    display:flex;
    flex-direction: row;
    background-color: #76acfcb7;
    border:1px solid #9dc4ff;
    border-radius: 16px;
    color: #0065fc;
    padding: 6px;
}

.bt
{
    display: flex;
    border: 1px solid silver;
    border-radius: 17px;
    margin: 16px;
    font-size: medium;    
}
.bt_name
{
    padding: 0;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-right: 8px;
    margin-left: 8px;
    color: #0065fc;
}
.bt:hover
{
    background-color: #76acfc77;
}

.srch 
{
    display: flex;
}
.champ
{
    width: 257px;
    height: 34px;
    border:1px solid #F2F2F2;
    margin-top: 2px;
}
.recherche
{
    background-color: #0065fc;
    color: white;
    height: 38px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: 'ralewaythin' ;
    box-shadow:none;
    border: #F2F2F2;
    margin: 0px;
}
.gps
{
    font-size: 1.2em;
    text-align:center ;
    padding: 8px;
    color: #0065fc;
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px;
    width: 30px;
    background-color: #F2F2F2;
}
.loupe
{
    display:none;
}
@media all and (max-device-width:375px)
{
    .srch
    {
        width: 375px;
    }
    .champ
    {
        width: 260px;
    }
    .recherche
    {
        background-color: #0065fc;
        width: 35px;
    }
    .text
    {
        display: none;
    }
    .loupe
    {
        display: block;
    }
}
@media (min-device-width:376px) and (max-device-width:450px)
{
    .srch
    {
        width: 375px;
    }
    .champ
    {
        width: 260px;
    }
    .recherche
    {
        background-color: #0065fc;
        width: 35px;
    }
}




/*section Hotel*/
.hebergements
{
    background-color: #F2F2F2;
    border-radius: 16px;
    margin-right: 70px;
    padding: 15px;    
}
h2
{
 margin-left: 15px;
}
h3
{
    margin-left: 8px;
    margin-bottom: 4px;
}
p
{
    margin-left: 8px;
    margin-top: 4px;
}

.images_hotel 
{
    display: flex;
    flex-wrap: wrap;
    
    border: #F2F2F2 1px solid;
    border-radius: 15px;
    background-color: #F2F2F2;
    
}

.images_hotel > article 
{
    box-shadow: 1px 1px 3px #F2F2F2 ;
    border-radius: 16px;
    background-color:white;
    margin: 20px;
    padding: 0px;
    font-size: small;

}
.img 
{
   width: 260px;
   height: 120px; 
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;

}
.images_hotel ul
{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-left: 8px;
}
#bdp
{
    font-style: bold;
    margin-left: 25px;
    display: block;
}


.img-1
{
    background-image: url('images/hebergements/4_small/la_cannebière.jpg');
}
.img-2
{
    background-image: url('images/hebergements/4_small/le_port.jpg');
}
.img-3
{
    background-image: url('images/hebergements/4_small/les_mouettes.jpg');
}
.img-4
{
    background-image: url('images/hebergements/4_small/la_mer.jpg');
}
.img-5
{
    background-image: url('images/hebergements/4_small/le_panier.jpg');
}
.img-6
{
    background-image: url('images/hebergements/4_small/amina.jpg');
}
.blue-star
{
    color: #0065fc;
}
.silver-star
{
    color: white;
}

@media all and (max-device-width:375px)
{
    
    
    .section
    {
        flex-direction: column;
        font-size: 1em;

    }
    .images_hotel
    {
        
        flex-direction: column;
        background-color: white;
        border: unset;
    }
    .images_hotel>article
    {
        height: 200px;
        width: 350px;
        border: 1px solid #F2F2F2;
        font-size: 0.8em;
        background-color: white;
        margin: 5px;
    }
    .img
    {
        width: 350px;
        height: 110px; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    .hebergements
    {
       background-color: white;
       margin-left: 0px;
    }
}
@media (min-device-width:376px) and (max-device-width:450px)
{
    
    
    .section
    {
        flex-direction: column;
        font-size: 1em;

    }
    .images_hotel
    {
        
        flex-direction: column;
        background-color: white;
        border: unset;
    }
    .images_hotel>article
    {
        height: 200px;
        width: 400px;
        border: 1px solid #F2F2F2;
        font-size: 0.8em;
        background-color: white;
        margin: 5px;
    }
    .img
    {
        width: 400px;
        height: 110px; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    .hebergements
    {
       background-color: white;
       margin-left: 0px;
    }
}

/*les plus populaires*/

aside
{
    background-color:#F2F2F2;
    border-radius: 16px;
    padding: 20px;
    height: 650px;
    
}


.titre_section
{
    display: flex;
    font-size: medium;
}
.icone-pop
{
    padding-top: 15px;
    padding-left: 150px;
}
.section
{
    display: flex;    
}

.populaires
{
   margin-top: 50px;
  
    
}
.pop
{
    width: 140px;
    height: 120px;     
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;    
    float: left;
    position: absolute;
    background-size: 150%;
    padding-left: 10px;
    
}
 .populaires ul
 {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-left: 160px;
    padding-bottom: 0%;
    

 }   
 .populaires >article
 {
    box-shadow: 1px 1px 3px #F2F2F2 ;
    border-radius: 16px;
    background-color:white;
    margin-bottom: 50px;
     
    font-size: small;
    width: 350px;
    height: 120px;
    
 }
 
 .populaires p
 {
   margin-left: 160px;
   margin-right: 20px;

 }
 .populaires h3
 {
     margin-left: 160px;
     margin-right: 75px;
     padding-top: 10px;
 }
 
 .pop-1
 {
     background-image: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
 }
 .pop-2
 {
     background-image: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
 }
 .pop-3
 {
     background-image: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
 }
 @media all and (max-device-width:375px)
 {
     .section
     {
         flex-direction: column-reverse;
     }
     .populaires>article
     {
         width: 365px;
         height: 150px;
         margin-bottom: 100px;
         
     }
     aside
     {
         height: 800px;
         width: 370px;
    
     }
     .pop
     {
        width: 140px;
        height:150px;     
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;    
        float: left;
        position: absolute;
        background-size: 150%;
        padding-left: 10px;
     }
     .populaires p
    {
        margin-left: 180px;
        margin-right: 20px;
        font-size: 1em;

    }
    .populaires h3
    {
     margin-left: 180px;
     margin-right: 10px;
     padding-top: 10px;
     font-size: 1.2em;
    }
    .populaires ul
    {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-left: 180px;
    padding-bottom: 0%;
    font-size: 1.2em;
    }

 }
 @media (min-device-width:376px) and (max-device-width:450px)
 {
     .section
     {
         flex-direction: column-reverse;
     }
     .populaires>article
     {
         width: 400px;
         height: 150px;
         margin-bottom: 100px;
         
     }
     aside
     {
         height: 800px;
         width: 450px;
    
     }
     .pop
     {
        width: 180px;
        height:150px;     
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;    
        float: left;
        position: absolute;
        background-size: 150%;
        padding-left: 10px;
     }
     .populaires p
    {
        margin-left: 200px;
        margin-right: 20px;
        font-size: 1em;

    }
    .populaires h3
    {
     margin-left: 200px;
     margin-right: 10px;
     padding-top: 10px;
     font-size: 1.2em;
    }
    .populaires ul
    {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-left: 200px;
    padding-bottom: 0%;
    font-size: 1.2em;
    }

 }

 

 /*activités*/
.pptn
{
  display:flex;
  flex-wrap: wrap;
}

.grand
{
    box-shadow: 1px 1px 3px #F2F2F2 ;
    border-radius: 16px;
    background-color:white;
    margin: 20px;
    padding: 0px;
    font-size: small;
    width: 250px;
    height: 350px;

}
.moyen
{
    box-shadow: 1px 1px 3px #F2F2F2 ;
    border-radius: 16px;
    background-color:white;
    margin: 20px;
    padding: 0px;
    font-size: small;
    width: 350px;
    height: 200px;
    
}
.bas
{
    box-shadow: 1px 1px 3px #F2F2F2 ;
    border-radius: 16px;
    background-color:white;
    margin: 30px;
    padding: 0px;
    font-size: small;
    width: 350px;
    height:150px;
}

.act_grand
{
    width: 250px;
   height: 350px; 
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
}

.act_moyen
{
    width: 350px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.act_bas
{
    width: 348px;
    height: 100px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.act-1
{
    background-image: url('images/activites/4_small/port.jpg');
}
.act-2
{
    background-image: url('images/activites/4_small/fort.jpg');
}
.act-3
{
    background-image: url('images/activites/4_small/telescope.jpg');
}
.act-4
{
    background-image: url('images/activites/4_small/calanques.jpg');
}
.act-5
{
    background-image: url('images/activites/4_small/notre\ dame.jpg');
}
.act-6
{
    background-image: url('images/activites/4_small/parc.jpg');
}

@media all and (max-device-width:375px)
{
    .activités h2
    {
        margin-left: 40px;
        font-size: 2.2em;
    }
    .pptn
    {
        flex-direction: column;
        width: 375px;
        padding-left: 30px;
    }

    .grand
{
    height: 200px;
    width: 350px;
    border: 1px solid #F2F2F2;
    font-size: 0.8em;
    background-color: white;
    margin: 5px;
}
.moyen
{
    height: 200px;
    width: 350px;
    border: 1px solid #F2F2F2;
    font-size: 0.8em;
    background-color: white;
    margin: 5px;
}
.bas
{
    height: 200px;
    width: 350px;
    border: 1px solid #F2F2F2;
    font-size: 0.8em;
    background-color: white;
    margin: 5px;
}

.act_grand
{
    width: 350px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
 
}

.act_moyen
{
    width: 350px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.act_bas
{
    width: 350px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
}
@media (min-device-width:376px) and (max-device-width:450px)
{
    .activités h2
    {
        margin-left: 40px;
        font-size: 2.2em;
    }
    .pptn
    {
        flex-direction: column;
        width: 375px;
        padding-left: 30px;
    }

    .grand
{
    height: 200px;
    width: 400px;
    border: 1px solid #F2F2F2;
    font-size: 0.8em;
    background-color: white;
    margin: 5px;
}
.moyen
{
    height: 200px;
    width: 400px;
    border: 1px solid #F2F2F2;
    font-size: 0.8em;
    background-color: white;
    margin: 5px;
}
.bas
{
    height: 200px;
    width: 400px;
    border: 1px solid #F2F2F2;
    font-size: 0.8em;
    background-color: white;
    margin: 5px;
}

.act_grand
{
    width: 400px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
 
}

.act_moyen
{
    width: 400px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.act_bas
{
    width: 400px;
    height: 150px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
}
footer
{
    display: flex;
    background-color: #F2F2F2;
}
footer ul
{
    list-style: none;
    padding: 0%;
}
footer li
{
    margin: 5px;
    
}
.descriptif
{
    text-align: justify;
    margin-right: 300px;
    margin-bottom: px;
}
.qualité_souscription
{
    text-align: justify;
    margin-right: 300px;
    margin-left: 10px;
}
@media all and (max-device-width:480px)
{
    footer
    {
        flex-direction: column;
        font-size: 1.4em;
        width: 410px;
    }

    .descriptif
    {
        margin-right: 10px;
        text-align: left;
    }
    .qualité_souscription
    {
        margin-right: 10px;
        text-align: left;
    }
    .assistance
    {
        margin-right: 10px;
        text-align: left;
    }
}
@media (min-device-width:376px) and (max-device-width:500px)
{
    footer
    {
        flex-direction: column;
        font-size: 1.4em;
        width: 485px;
    }

    .descriptif
    {
        margin-right: 10px;
        text-align: left;
    }
    .qualité_souscription
    {
        margin-right: 10px;
        text-align: left;
    }
    .assistance
    {
        margin-right: 10px;
        text-align: left;
    }
}
